<div id="title">
  <h1><%= t "index.title" %></h1>
</div>

<table>
  <tr>
    <td width="50%">
      <%= link_to "Register now!", register_path, :class => "signup_button round" %>
    </td>
    <td width="50%">
      <% form_tag login_path do -%>
        <div class="field">
          <%= label_tag 'email' %><br />
          <%= text_field_tag 'email', @email %>
        </div>
        <div class="field">
          <%= label_tag 'password' %><br />
          <%= password_field_tag 'password', nil %>
        </div>
        <div class="field">
          <%= check_box_tag 'remember_me', '1', @remember_me %>
          <%= label_tag 'remember_me', 'Remember me' %>
        </div>
        <div class="actions">
          <%= submit_tag 'Login' %>
        </div>
        <div class="actions">
          <%= link_to "Forgot your password!", forgot_path %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
