<h1><%= t "home.title" %></h1>

<% form_for current_user, :url => predictions_path do -%>

<table class="box round">
  <% for @prediction in current_user.predictions %>
    <%= error_messages_for :prediction %>
    <% fields_for "prediction[]" do |f| %>
    <%= f.hidden_field :id %>
  <tr>
    <td width="10"><%= @prediction.game.number %></td>
    <td width="100"><%= @prediction.game.date.strftime("%d/%m %H:%M") %></td>
    <% if @prediction.game.team1 %>
    <td width="10"><%= flag(@prediction.game.team1.code, @prediction.game.team1.name) %></td>
    <td width="100"><%= h(@prediction.game.team1.name) %></td>
    <% else %>
    <td width="10"></td>
    <td width="100">TBD</td>
    <% end %>
    <td width="10"><%= f.text_field :score1, :size => 2 %></td>
    <td width="10">vs</td>
    <td width="10"><%= f.text_field :score2, :size => 2 %></td>
    <% if @prediction.game.team1 %>
    <td width="100"><%= h(@prediction.game.team2.name) %></td>
    <td width="10"><%= flag(@prediction.game.team2.code, @prediction.game.team2.name) %></td>
    <% else %>
    <td width="100">TBD</td>
    <td width="10"></td>
    <% end %>
    <td width="100"><%= h(@prediction.points) %></td>
  </tr>
    <% end %>
  <% end %>
</table>

<%= submit_tag 'Save' %>
<% end -%>
