<h1><%= t "home.title" %></h1>

<%= link_to_remote 'Group A', :url => phases_path('A') %>
<%= link_to_remote 'Group B', :url => phases_path('B') %>
<%= link_to_remote 'Group C', :url => phases_path('C') %>
<%= link_to_remote 'Group D', :url => phases_path('D') %>
<%= link_to_remote 'Group E', :url => phases_path('E') %>
<%= link_to_remote 'Group F', :url => phases_path('F') %>
<%= link_to_remote 'Group G', :url => phases_path('G') %>
<%= link_to_remote 'Group H', :url => phases_path('H') %>

<div id="scores">
  <%= render :partial => 'scores', :object => @phase %>
</div>
<div id="standings">
  <%= render :partial => 'standings', :object => @phase %>
</div>
